<div class="box answer">
  <h1>Answer page</h1>

  <blockquote>
    <p><%= params[:question] %></p>
    <footer>— You</footer>
  </blockquote>

  <blockquote>
    <p><%= @answer %></p>
    <footer>— Your coach</footer>
  </blockquote>
  <a href="/ask">Ask a new question</a>
</div>
