<div class="box">
  <h1>Stupid Coaching</h1>

  <p>Ask your coach anything</p>

  <form action="/answer" method="get">
    <input type="text" name="question" placeholder="Type your question" value="">
    <input type="submit" value="Ask" class="btn-submit">
  </form>

  <p>Tips:</p>
  <ul>
    <li>I am going to work</li>
    <li>Any question with '?' in the end</li>
    <li>Any other text</li>
  </ul>
</div>
