// Defining a variable
$gray: #F4F4F4;
$blue: #1F8DD6;

body {
  background: $gray; // Using this variable
  font-family:sans-serif;
}

.box {
  margin: 30px;
  h1 {
    font-size: 50px;
    color: $blue;
  }
}

p {
  margin-top: 40px;
}

.btn-submit {
  border-radius: 0px 35px 35px 0px;
  height: 42px;
  margin: 0;
  padding-right: 20px;
  font-weight: bold;
  background: $blue;
  color: white;
}

input {
  height: 40px;
  border-radius: 35px 0px 0px 35px;
  padding-left: 20px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-size: 18px;
}

blockquote footer {
  font-style: italic;
}
